<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace = "fragments/headers::head(title='Items')">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/js/item.js"></script>
</head>
<body>
<nav th:replace="fragments/navbar::nav"></nav>
<main class="container">
    <div>
        <h2>Items</h2>
        <a href="/items/add">Add a new item</a>
        <form th:action="@{/items/search}" th:method="GET">
            <span>Знайти за іменем товар</span>
            <input name="name" type="text">
            <button type="submit" class="btn btn-success">Знайти</button>
        </form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Reserve Rate</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody id="items-table-body">
                <tr th:each="item : ${itemsList}" th:attrappend="item-id=${item.getId()}">
                    <td scope="row" th:utext="${item.getId()}">...</td>
                    <td th:utext="${item.getVendor()}">...</td>
                    <td th:utext="${item.getName()}">...</td>
                    <td th:utext="${item.getUnit()}">...</td>
                    <td th:utext="${item.getWeight()}">...</td>
                    <td th:utext="${item.getAmount()}">...</td>
                    <td th:utext="${item.getReserveRate()}">...</td>
                    <td class="text-center"><a th:href="@{/items/{id}/edit(id=${item.getId()})}"
                                               class="btn btn-primary">Edit</a></td>
                    <td class="text-center">
                        <form th:action="@{/items/{id}(id=${item.getId()})}" th:method="DELETE">
                            <input type="submit" class="btn btn-danger container" value="Remove"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>